// https://material.io/design/color/the-color-system.html
// https://www.material.io/design/color/dark-theme.html

// Basic
$color_background         : #FFFFFF ;
$color_primary            : #303030 ;
$color_secondary          : #2E2E2E ;
$color_meta               : #A1A1A1 ;
$color_links              : #0366d6 ;
$color_borders            : #d1d5da ;
$color_title              : #303030 ;
$color_titlePhoto         : #FFFFFF ;
$color_icon               : #FFFFFF ;
$color_h1                 : #2E2E2E ;
$color_h2                 : #303030 ;


// #222831 - background
// #30475e - blue
// #f2a365 - orange
// #ececec - off white
$color_dark_background         : #222831 ;
$color_dark_primary            : #ECECEC ;
$color_dark_secondary          : #ECECEC ;
$color_dark_meta               : #A1A1A1 ;
$color_dark_links              : #f2a365 ;
$color_dark_borders            : #ECECEC ;
$color_dark_title              : #ECECEC ;
$color_dark_titlePhoto         : #ECECEC ;
$color_dark_icon               : #ECECEC ;
$color_dark_h1                 : #ECECEC ;
$color_dark_h2                 : #ECECEC ;

// Social
$color_twitter   : #55acee;
$color_facebook  : #3b5998;
$color_youtube   : #ff0000;
$color_instagram : #e1306c;
$color_whatsapp  : #25D366;
$color_linkedin  : #0077b5;
$color_github    : #000000;
