@import "~normalize.css";
@import 'mixins';
@import 'colors';

// SOURCE: https://css-tricks.com/snippets/css/clear-fix/
.clear:after {
	content: "";
	display: table;
	clear: both;
}

@media all
{
	// General
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	html, body {
		width: 100%;
		color: $color_defaultFontColor;
		font-family: 'Open Sans', sans-serif;
		line-height: normal;
	}

	h1 {
		margin: 0;
	}

	a {
		color: #0366d6;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.underline {
		border-width: 0 0 1px 0;
		border-bottom: 1px solid #d1d5da !important;
	}

	#column {
		margin: 0 auto;
		width: 700px;
	}

	#fadeout {
		position: fixed;
		z-index: 2;
		bottom: 0em;
		width: 100%;
		height: 4em;
		background: -webkit-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		background-image: -moz-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		background-image: -o-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		background-image: linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		background-image: -ms-linear-gradient(
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 100%
		);
	}

	/* Header / Title */
	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	$header_height: 50px;

	header {
		padding: 50px 0 0;
		width: auto;
		height: $header_height;
		clear: both;

		& #logo {
			display: block;
			float: left;
			z-index: 20;
			position: relative;
			text-decoration: none;
		}

		$titlePhoto_borderWidth: 0px;
		$titlePhoto_backgroundDiameter: ($header_height - ($titlePhoto_borderWidth*2));

		& #picture_border {
			float: left;
			padding: $titlePhoto_borderWidth;
			@include border-radius($header_height/2);
			@include box-shadow(0, 0, 0px, 0px, #afafaf);
			z-index: 15;
		}

		& #picture {
			@include border-radius($header_height/2);
			width: $titlePhoto_backgroundDiameter;
			height: $titlePhoto_backgroundDiameter;
			background-color: $color_titlePhoto;
			background: url('../img/avatar.jpg');
			background-size: cover;
		}

		& #title {
			font-family: 'Open Sans', sans-serif;
			font-size: 30px;
			color: $color_title;
			margin: auto;
			font-weight: 300;
			z-index: 15;
			height: 50px;
			width: auto;
			vertical-align: middle;
			display: table-cell;
			padding-left: 20px;
		}
	}

	// Social
	// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	// SOURCE: https://github.com/Automattic/social-logos
	// SOURCE: https://gist.github.com/mrmartineau/314b01b300fa20a5a820a4d6889ffd42

	$icon_size : 25px;
	$icon_padding : 4px;

	.icon_wrap {
		float: left;
		// padding: 0 $icon_padding;
		width: $icon_size;
		height: $icon_size;
		display: inline-block;
		color: #FFF;

		.icon {
			max-width: 100%;
			vertical-align: middle;
			width: $icon_size;
			height: $icon_size;
		}
		.icon_youtube {
			color: $color_youtube;
		}
		.icon_instagram {
			color: $color_instagram;
		}
		.icon_linkedin {
			color: $color_linkedin;
		}
		.icon_github {
			color: $color_github;
		}
	}

	#social {
		float: right;

		& ul {
			margin: 0;
			padding: 0;
			list-style: none;

			& li {
				height: $header_height;
				display: table-cell;
				vertical-align: middle;
				padding-left: 8px;
			}
		}
	}

	/* Content */
	/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
	#content {
		padding: 30px 0;
		width: auto;
		margin: auto;
		clear: both;
		font-family: 'Open Sans', serif;
	}

	h1 {
		font-size: 57px;
		font-weight: 700;
		letter-spacing: -0.04em;
		line-height: 1em;
		margin-left: -3px;
		margin-bottom: 10px;
		margin-top: 48px;
		color: #222222;
	}

	h2 {
		font-size: 38px;
		font-weight: 400;
		letter-spacing: -0.04em;
		line-height: 1em;
		margin-left: -3px;
		// margin-bottom: 10px;
		// margin-top: 48px;
		color: #333;
	}

	article {
		clear: both;
		margin-bottom: 10px;
		@include transition(all .8s ease);

		& .meta {
			text-transform: uppercase;
			color: #A1A1A1;
			font-size: 14px;
			width: 100%;
			text-align: left;
			margin-bottom: 35px;
		}

		& .meta-background {
			width: 100%;
			height: 250px;
			background: url(../uploads/2017-03-02-rose.jpg) center no-repeat;
			background-size: cover;
		}

		& .body {
			clear: both;
			font-family: inherit;

			& p {
				font-family: 'PT Serif', serif;
				font-weight: 400;
				font-size: 21px;
				line-height: 35px;
				color: #2E2E2E;
			}

			& blockquote {
				& h3 {
					font-size: 36px;
					line-height: 1.5em;
					margin-bottom: 10px;
					color: #2E2E2E;
				}

				& p {
					margin-top: 0;
					color: #A1A1A1;
				}

			}
		}
	}

	#projects_display {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
		margin-left: -8px;
		margin-right: -8px;

		& .project {
			padding-left: 8px;
			padding-right: 8px;
			// flex: 1 1 0;
			flex: 0 1 342px;
			display: flex;
			margin-bottom: 16px;

			& .project_inner {
				border: 1px solid #d1d5da;
				@include border-radius(3px);
				padding: 16px;
				align-content: stretch;

				&:hover {
					border: 1px solid #b5b8bc;
				}
			}

			& .name {
				display: block;
				float: left;
				margin-bottom: 8px;

				> .icon_wrap {
					margin-right: 8px;
				}
			}

			& .desc {
				float: left;
				color: #A1A1A1;
				font-size: 14px;
				width: 100%;
			}
		}
	}
}

/* Footer */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
footer {
	font-size: 14px;
	margin-bottom: 75px;
	color: #A1A1A1;
	text-align: right;

	& a {
		text-decorat: none;
		color: inherit;
	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* 	Everything below this line adjusts the default
		styles according to changes in viewport size. 	*/
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media (max-width: 800px)
{
	header #title {
		font-size: 25px;
		padding-left: 15px;
	}

	#column {
		width: 500px;
	}

	h1 {
		font-size: 35px;
	}

	article .body blockquote h3 {
		font-size: 26px;
		line-height: 1.5em;
	}

	article .body blockquote p {
		font-size: 18px;
	}

	#projects_display {
		& .project {
			flex: 1 1 100%;
		}
	}
}

@media (max-width: 570px)
{
	header {
		padding: 20px 0 0;
	}

	#column {
		width: auto;
		padding: 30px;
	}

	h1 {
		font-size: 24px;
	}

	article .body > p {
		font-size: 18px;
		line-height: 30px;
	}

	article .body blockquote h3 {
		font-size: 22px;
		line-height: 1.2em;
	}
}

@media (max-width: 450px)
{
	#column {
		width: auto;
		padding: 10px;
	}

	article .body > p {
		font-size: 16px;
		line-height: 24px;
	}

	article .body blockquote h3 {
		font-size: 18px;
		line-height: 1.0em;
	}

	article .body blockquote p {
		font-size: 14px;
	}
}


@media (max-width: 290px)
{
	h1 {
		font-size: 18px;
	}

	header #title {
		display: none;
	}
}
