<!DOCTYPE html>
<html lang="en">

<!--
This website was developed by Charlie Mathews (charlie@charliemathews.com).
All code, images, and content are the intellectual property of Charlie Mathews (c) from 2016 onwards, unless otherwise noted.
-->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, user-scalable=yes">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ "static/dist/style.css" | relative_url }}" />
	<title>Charlie Mathews</title>
	<link rel="icon" href="/favicon.svg">
</head>

<body>

<div id="nav_curtain"></div>
<div id="fadeout"></div>

<div id="column">
	<header>
		<a id="logo" href="/">
		<div id="picture_border"><div id="picture"></div></div>
		<div id="title">Charlie Mathews</div>
		</a>

		<div id="social">
			<ul>
				<li><a class="link" href="https://github.com/alphachai"><div class="icon_wrap"><svg title="Github" class="icon icon_github"><use xlink:href="{{ "static/img/icons.svg" | relative_url }}#logo-github"/></svg></div></a></li>
				<li><a class="link" href="https://linkedin.com/in/charlesparkes"><div class="icon_wrap"><svg title="Linkedin" class="icon icon_linkedin"><use xlink:href="{{ "static/img/icons.svg" | relative_url }}#logo-linkedin"/></svg></div></a></li>
				<li><a class="link" href="https://instagram.com/charliemathews"><div class="icon_wrap"><svg title="Instagram" class="icon icon_instagram"><use xlink:href="{{ "static/img/icons.svg" | relative_url }}#logo-instagram"/></svg></div></a></li>
			</ul>
		</div>
	</header>

	<section id="content">
		{{ content }}
	</section>

	<footer><a href="https://github.com/alphachai/alphachai.github.io">Crafted with &hearts; by Charlie.</a></footer>
</div> <!-- end of #column -->

</body>
</html>
